{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task list</h1>
    <table class="table table-bordered">
        <tbody>
        {% for task in tasks %}
            <ul>
                <li><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.name }}</a></li>
            </ul>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('task_new') }}" class="btn btn-primary" role="button">Create a new task</a>
        </li>
    </ul>
{% endblock %}
